# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/
ply/
# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd



codigo/parsetab.py
codigo/parser.out

# Archivos varios
*.log